name: ci
on: pull_request
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BATON_LOG_LEVEL: debug
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Build baton-freshservice
        run: go build ./cmd/baton-freshservice
      - name: Run baton-freshservice
        env:
          BATON_API_KEY: ${{ secrets.FRESHSERVICE_APIKEY }}
          BATON_DOMAIN: ${{ secrets.FRESHSERVICE_DOMAIN }}
          BATON_DISABLE_HTTP_CACHE: true
        run: ./baton-freshservice
      - name: Get baton
        uses: ConductorOne/github-workflows/actions/get-baton@v2
      - name: Test grant/revoking groups
        env:
          BATON: ./baton/baton
          BATON_FRESHSERVICE: ./baton-freshservice
          BATON_API_KEY: ${{ secrets.FRESHSERVICE_APIKEY }}
          BATON_DOMAIN: ${{ secrets.FRESHSERVICE_DOMAIN }}
          BATON_GRANT: 'agent_group:34000149590:member:user:34001065377'
          BATON_ENTITLEMENT: 'agent_group:34000149590:member'
          BATON_PRINCIPAL_TYPE: 'agent'
          BATON_PRINCIPAL: '34001065377'
        run: ./test/grant-revoke.sh
      - name: Test grant/revoking roles
        env:
          BATON: ./baton/baton
          BATON_FRESHSERVICE: ./baton-freshservice
          BATON_API_KEY: ${{ secrets.FRESHSERVICE_APIKEY }}
          BATON_DOMAIN: ${{ secrets.FRESHSERVICE_DOMAIN }}
          BATON_GRANT: 'role:34000148117:assigned:agent:34001065377'
          BATON_ENTITLEMENT: 'role:34000148117:assigned'
          BATON_PRINCIPAL_TYPE: 'agent'
          BATON_PRINCIPAL: '34001065377'
        run: ./test/grant-revoke.sh
